@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-o2g8ch');
	src:url('../fonts/icomoon.eot?#iefix-o2g8ch') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-o2g8ch') format('woff'),
		url('../fonts/icomoon.ttf?-o2g8ch') format('truetype'),
		url('../fonts/icomoon.svg?-o2g8ch#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE60C:before {
	content: "\e60c";
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-books:before {
	content: "\e602";
}
.icon-bell:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e60d";
}
.icon-cancel-circle:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-facebook2:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-twitter2:before {
	content: "\e60a";
}
.icon-uniE60B:before {
	content: "\e60b";
}
